/* PANTILLA PRINCIPAL */
body {
	background-color: #f1f1f1;
	font-size: 16px;
	font-family: 'Roboto','Open Sans', 'sans-serif';
}

/* --- BARRA LATERAL --- */
.barra-lateral {
	background: #262a34;
	color: #ffffff;
	min-width: 260px;
    min-height: 100vh;
    height: 100%;
	padding: 0;
}

.barra-lateral a {
	color: #ffffff;
}

/* --- LOGO EN MENU --- */
.barra-lateral .logo {
    background: #007bff;
	/* background: #ff0037; */
    padding: 10px;
}

.barra-lateral .logo img {
	width: 200px;
	height: 75px;
}

/* --- MENU DE OPCIONES --- */
.barra-lateral .menu a {
	display: block;
	padding: 20px;
	font-family: 'Roboto', sans-serif;
    font-weight: 500px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

.barra-lateral .menu a:hover {
	background: #ff0037;
	text-decoration: none;
}

/* --- --- MEDIAQUERIES --- --- */
@media screen and (max-width: 1500px) {
	.barra-lateral {
		min-width: auto;
	}

	.barra-lateral .logo {
		display: none;
	}

	.barra-lateral .menu a span {
		display: none;
  }

	.barra-lateral .menu a i {
		margin:0;
	}
}

@media screen and (max-width: 1100px) {
	.barra-lateral {
        width: 1100px;
        min-height: auto;
	}

	.barra-lateral .menu a {
        display: inline-block;
        border-bottom: none;
    }
}

@media screen and (max-width: 580px) {
	.barra-lateral {
        width: 580px;
        min-height: auto;
	}

	.barra-lateral .menu a {
        display: inline-block;
        border-bottom: none;
    }
}
  
@media screen and (max-width: 320px) {
	.main .comentarios .comentario .foto {
		width: 30px;
		height: 30px;
	}

	.main .comentarios .comentario .botones button {
		width: 100%;
    }
}

/* ESTILOS DE TABLA */
.background-table{
    color: #ffffff;
    background: #33363d;
}

/* ESTILOS TARJETAS */
.card-top {
    width: auto; 
    height: auto; 
}

.card-top > div > .icon {
    width: 50px;
    height: 50px;
}

.card-bottom {
    background: transparent;
    width: auto;
    height: auto;
    font-size: 15px;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

/* FORM CONTROL
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .form-control {
      transition: none;
    }
  }
  
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0;
  }
  
  .form-control:focus {
    color: #495057;
    background-color: #ffffff;
    border-color: rgba(255, 70, 79, 0.58);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(219, 0, 11, 0.25);
  }
  
  .form-control::-webkit-input-placeholder {
    color: #495057;
    opacity: 1;
  }
  
  .form-control::-moz-placeholder {
    color: #495057;
    opacity: 1;
  }
  
  .form-control:-ms-input-placeholder {
    color: #495057;
    opacity: 1;
  }
  
  .form-control::-ms-input-placeholder {
    color: #495057;
    opacity: 1;
  }
  
  .form-control::placeholder {
    color: #495057;
    opacity: 1;
  }
  
  .form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
  }
  
  select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #ffffff;
  }
  
  .form-control-file,
  .form-control-range {
    display: block;
    width: 100%;
  } */

.btn-primary {
    color: #ffffff;
    background-color: #ff0037;
    border-color: #ff0037;
}
  
  .btn-primary:hover {
    color: #ffffff;
    background-color: #d3002e;
    border-color: #d3002e;
  }

  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(219, 0, 11, 0.25);
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    color: #ffffff;
    background-color: #d3002e91;
    border-color: #d3002e91;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #d3002e;
    border-color: #d3002e;
  }
  
  .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(219, 0, 11, 0.25);
  }