<div class="barra-lateral col-12 col-md-auto">
    <div class="logo">
        <img src="assets/images/ccStore_Blanco.svg" alt="">
    </div>
    <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
        <a href="panel.html">
            <div class="row">
                <div class="col-3">
                    <i class="fas fa-tasks"></i>
                </div>
                <span> Panel de control</span>
            </div>
        </a>

        <a href="productos.html">
            <div class="row">
                <div class="col-3">
                    <i class="fas fa-box-open"></i>
                </div>
                <span> Productos</span>
            </div>
        </a>

        <a href="productosAgotar.html">
            <div class="row">
                <div class="col-3">
                    <i class="fas fa-exclamation-triangle"></i>
                </div>
                <span> Productos por agotar</span>
            </div>
        </a>
        
        <a href="#">
            <div class="row">
                <div class="col-3">
                    <i class="fas fa-cogs"></i>
                </div>
                <span> Administración</span>
            </div>
        </a>

        <a href="adminUsuarios.html">
            <div class="row">
                <div class="col-3">
                    <i class="fas fa-users"></i>
                </div>
                <span> Administrar usuarios</span>
            </div>
        </a>

        <a href="index.html">
            <div class="row">
                <div class="col-3">
                    <i class="fas fa-sign-out-alt"></i>
                </div>
                <span> Cerrar Sesión</span>
            </div>
        </a>
    </nav>
</div>